* {
    box-sizing: border-box;
}

body {
    background: rgb(243, 241, 238);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
    color: navy;
}

main.important-text {
    background-color: white;
}

/* .important-text {
    background: purple;
} */

